<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
    {% if is_dog_walker %}
    <h1>Welcome {{ email }}</h1>
    <p>You are a dog walker!</p>
    {% else %}
    <h1>Welcome {{ email }}</h1>
    {% if dogs %}
    <h2>Dogs:</h2>
    <ul>
        {% for dog in dogs %}
            <li>Name: {{ dog.name }}, Age: {{ dog.age }}, Breed: {{ dog.breed }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You were previously a dog walker, now that you are no longer a dog walker you will be required to assign yourself dogs on the main page or switch back to being a dog walker.</p>
    {% endif %}
    {% endif %}
</body>
</html>
